<style>
  .completed {
    text-decoration: line-through;
  }
  .delete:hover{
    color: red;
  }
  .delete {
    color: gray
  }
</style>
<div id="tl-index" v-cloak>
  <div class="container">
    <h4>Here are your active todoLists {{me.fullName}}</h4>
    <div class="row">
      <div class="col-md-4">
        <h5>Todo Lists</h5>
        <ul>
          <li v-for="list in todoLists" @click="getTodoListTasks(list.id)">{{list.title}} <i
              v-if="list.id == selectedTodoList" class="fa fa-check"></i></li>
        </ul>
        <button type="button" class="btn btn-primary" @click="showCreateNewTodoListForm = true"
          v-if="!showCreateNewTodoListForm">Create New
          TodoList</button>
        <ajax-form v-if="showCreateNewTodoListForm" :handle-parsing="handleParsingCreateNewTodoList"
          @submitted="createNewTodoListSubmittedForm($event)" :syncing.sync="createNewTodoListSyncing"
          action="createNewTodoList">
          <div class="form-group">
            <label>TodoList name</label>
            <input type="text" class="form-control" v-model="createNewTodoListFormData.title">
          </div>
          <div class="form-group">
            <label>TodoList Description</label>
            <textarea class="form-control" rows="3" v-model="createNewTodoListFormData.description"></textarea>
          </div>
          <ajax-button :syncing="createNewTodoListSyncing" class="btn btn-primary">Save</ajax-button>
        </ajax-form>
      </div>
      <div class="col-md-8">
        <h5>Tasks</h5>
        <ul>
          <li v-for="task in tasks" style="list-style: none;" :data-task-id="task.id" :class="task.completed ? 'completed' : ''">
            <input type="checkbox" name="" id="" :data-row-id="task.id" :data-row-completed="task.completed"
              :checked="task.completed" @click="toggleState($event)">
              <i class="fa fa-times-circle delete" @click="deleteTask(task.id)"></i>
            {{task.description}}
          </li>
        </ul>
        <button type="button" class="btn btn-primary" @click="showCreateNewTaskForm = true"
          v-if="!showCreateNewTaskForm">Create New Task</button>
        <ajax-form v-if="showCreateNewTaskForm" :handle-parsing="handleParsingCreateNewTask"
          @submitted="createNewTaskSubmittedForm($event)" :syncing.sync="createNewTaskSyncing" action="createNewTask">
          <div class="form-group">
            <label>Task Description</label>
            <textarea class="form-control" rows="3" v-model="createNewTaskFormData.description"></textarea>
          </div>
          <ajax-button :syncing="createNewTaskSyncing" class="btn btn-primary">Save</ajax-button>
        </ajax-form>

      </div>
    </div>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>